@import "reset.css";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  background: #f9f9f9;
}

#container {
  width: 320px;
  height: 1000px;
  background: #FFFFFF;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#container .list-view {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFFFFF;
  -webkit-transition: background 0.3s 0.1s;
  transition: background 0.3s 0.1s;
}

#container .list-view ul li {
  height: 70px;
  border-bottom: 1px solid #dddddd;
  -webkit-transition: opacity 0.3s 0.3s, border-color 0.3s 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s 0.3s, border-color 0.3s 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;
  transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s, -webkit-transform 0.3s;
}

#container .list-view ul li:hover {
  background: #efefef;
  cursor: pointer;
}

#container .list-view ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../i/default-img.png");
  background-size: 100%;
  margin: 10px 15px;
}

#container .details-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFFFFF;
  display: none;
}

#container .details-view.open {
  display: block;
}

#container .details-view-item {
  height: 70px;
  padding-left: 40px;
}

#container .details-view-item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../i/default-img.png");
  background-size: 100%;
  margin: 10px 15px;
}

#container .details-view .background {
  position: absolute;
  top: 0;
  width: 100%;
  background: url("../i/background-active.jpg");
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

#container .details-view .back {
  position: absolute;
  top: 20px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: url("../i/back-icon.png");
  background-size: 100%;
  border: 0;
  z-index: 1;
}

#container .details-view .back:hover {
  cursor: pointer;
}

#container .details-view ul {
  position: absolute;
  left: 0;
  right: 0;
  top: 75px;
}

#container .details-view li {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #dddddd;
}

#container .details-view li i {
  font-size: 1.2rem;
  margin: 0 15px;
}

li.people-title {
  margin-left: 8px;
  font-weight: bold;
  font-size: larger;
}
